<h1> Home </h1>

<form action="/create" method="post">
    <a>New Room Name: </a>
    <input type="text" name="roomName">
    <button type="submit" >Create New Chat Room</button>
</form>

<div class="chatrooms">
    <div class="chatroom"></div>
</div>